body{
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: rgba(0, 0, 0, 0.85);
}


#flex-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.flex-footer-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(146, 142, 142);
}

.flex-footer2-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(146, 142, 142);
}

#instagram{
  height: 30px;
}

#drink{
  height: 400px;
}

h2{
  text-align: center;
  font-size: xx-large;
  margin: 50px;
  color: #fff;
  text-decoration: underline;
}

h3{
  text-align: center;
  font-size: large;
  margin: 50px;
  color: #fff;
  
}

p{
  text-align: center;
  color: #fff;
}



#flex-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

#getränk{
  height: 400px;
  margin-bottom: 30px;
}


#flex-home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}


ul{
  color: white;
  display: table;
  margin: auto;
}

ul li{
  text-align: center;
}