body{
  margin: 0;
  padding: 0;
  font-family: Arial;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #fff;
}

nav .logo{
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

nav ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a{
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover{
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}


header{
  width: 100%;
  height: 50vh;
  background: url(imgs/bar.jpg);
  background-size: cover;
  background-position: center;
}



section{
  margin-top: 75px;
  margin-bottom: 170px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
  font-family: "Tw Cen MT", sans-serif;

}

h2{
  height: 40px;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
}

p{
  height: 60px;
  background-color: white;
  text-align: center;
  margin-bottom: 10px;
  line-height: 25px;
}

h3{
  height: 100px;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
}


#flex-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;

}

.flex-footer-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(146, 142, 142);
}

.flex-footer2-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(146, 142, 142);
  
}

#instagram{
  height: 30px;
}

#drink{
  height: 400px;
}



#flex-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;

}

.flex-item{
  height: 500px;
  flex-grow: 0.2;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 20px;
  text-align: center;
  font-size: x-large;
  
}

